// sidebar
$sidebar-header-bg:  #253141;
$sidebar-groups-bg:         #2f3e51;

// notification[success]
$success-message-color:      #38AEF0;

//notification_color
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
